/* General settings */


body {
  padding: 0px;
  margin: 0px;
  background-color: #ccc;
  font-family: Source Sans Pro, sans-serif;
}

.container {
  width: 800px;
  margin: 10px auto;
  background: #fff;
  padding:10px;
  color: #444;
}

.header {
  padding: 5px;
  margin: 10px;
  width: 770px;
  border: 1px solid #000000;
  background: #F5F5F5;
}
.contents {
  padding: 1em;
  margin-left: 220px;
  max-width: 600px;
}

.navigation {
  padding: 0px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  border: 1px solid #000000;
  float: left;
  background: #F3F3F3;
  color: #000000;
  font-size: 100%;
  line-height: 200%;
}


img {
  border: 0px;
}


/* Site contents */

.contents p {
  margin: 10px 0px 10px 0px;
  padding: 0px;
  line-height: 175%;
}

.contents p.center {
  text-align: center;
}

.contents h1 {
  font-size: 200%;
  margin: 0px;
  padding: 0px;
  line-height: 110%;
  color: #222;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contents h2 {
  font-size: 160%;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px;
  line-height: 110%;
  color: #222;
}

.contents h3 {
  font-size: 120%;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px;
  line-height: 110%;
  color: #222;
}

.contents a {
  font-weight: bold;
  text-decoration: none;
}

.contents ul {
  padding: 0px 0px 0px 20px;
  margin: 0px;
  list-style-type: disc;
}

.contents li {
  padding: 0px 0px 5px 5px;
  margin: 10px 0px 10px 0px;
  list-style-type: disc;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.contents a:link, .contents a:visited, .contents a:active {
  color: #111199;
}

.contents a:hover {
  color: #991111;
  background-color: #E0E0E0;
}

.contents img.left {
  float: left;
  clear: both;
  margin: 5px;
}

.contents img.right {
  float: right;
  clear: both;
  margin: 5px;
}


/* Releases */

p.release {
  padding: 0px;
  margin: 10px 0px 10px 0px;
  border: 1px solid #606099;
  background: #F5F5F5;
  color: #111199;
}

p.release .description {
  padding: 2px 5px 2px 5px;
  display: block;
}

p.release .infoLine {
  padding: 2px 5px 2px 5px;
  display: block;
  border-top: 1px dotted #909099;
}

p.release .info {
  padding: 0px 50px 0px 0px;
}


/* News */

p.news {
  padding: 0px;
  margin: 20px 0px 20px 0px;
}

p.news .date {
  padding: 0px;
  border: 1px dotted #909099;
  background: #F5F5F5;
}


/* Side navigation bar */

.navigation h1 {
  padding: 2px;
  margin: 0px;
  font-size: 120%;
  text-align: center;
  color: #FFFFFF;
  background-color: #444444;
}

.navigation h2 {
  padding: 2px;
  margin: 0px;
  font-size: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #444444;
}


.navigation a {
  display: block;
  margin: 4px 0px 4px 0px;
  padding: 0px 0px 0px 5px;
  text-decoration: none;
}

.navigation a.mark {
  background: #FFFFFF;
}

.navigation a:link, .navigation a:visited, .navigation a:active {
  color: #333333;
}

.navigation a:hover {
  color: #ffffff;
  background: #000000;
}


/* Header */


.header h1 {
  padding: 0px;
  margin: 0px;
  font-size: 160%;
  text-align: center;
  color: #000000;
}
/*
.header h1:first-letter {
  color: #000099;
}
*/

table {
	border-width: 0px 0px 0px 0px;
	border-style: outset outset outset outset;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: white;
}
table th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: #F3F3F3;
}
table td {
	width: 14em;
	text-align: center;
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
}


